<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  
  <body onload = "return ran_col()">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <script type="text/javascript">
    	function ran_col() {
    		var theme = "theme-base-";
    		var themes = ["08", "09","0a","0b","0c","0d","0e","0f"];
    		theme += themes[Math.floor(Math.random() * themes.length)];
    		document.getElementById('body').class = theme;
    	}
    </script>

    
  </body>

  	


</html>
