<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Python: A Beginner's guide to Python, from a beginner.</title>

    <link rel="stylesheet" href="/css/projectpage.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Python</h1>
        <h2 style="font-weight: 300;">A beginner's guide to Python, by a beginner.</h2>

        <p>by <a href="http://onoratod.github.io">Donato Onorato</a></p>

        <!--<ul>
          <li><a href="https://github.com/michaelstepner/binscatter/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/michaelstepner/binscatter/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/michaelstepner/binscatter">View On <strong>GitHub</strong></a></li>
        </ul>-->
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        <p class="view"><a href="https://github.com/onoratod/onoratod.github.io/tree/master/python">View the project on GitHub</a></p>
        <!--<p class="view"><a href="http://ideas.repec.org/c/boc/bocode/s457709.html">View the project on IDEAS</a></p>-->
        <!--
        <p>This project is maintained by <a href="https://github.com/michaelstepner">michaelstepner</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        -->
      </footer>
    </div>
    <script src="/js/scale.fix.js"></script>



  </body>
</html>
