<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>maptile: a Stata program that makes mapping easy</title>

    <link rel="stylesheet" href="/css/projectpage.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>maptile</h1>
        <h2>A stata program that makes mapping easy.</h2>

        <p>by <a href="http://michaelstepner.com">Michael Stepner</a></p>

        <!--<ul>
          <li><a href="https://github.com/michaelstepner/binscatter/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/michaelstepner/binscatter/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/michaelstepner/binscatter">View On <strong>GitHub</strong></a></li>
        </ul>-->
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        <p class="view"><a href="https://github.com/michaelstepner/maptile">View the project on GitHub</a></p>
        <!--<p class="view"><a href="http://ideas.repec.org/c/boc/bocode/s457709.html">View the project on IDEAS</a></p>-->
        <!--
        <p>This project is maintained by <a href="https://github.com/michaelstepner">michaelstepner</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        -->
      </footer>
    </div>
    <script src="/js/scale.fix.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47128807-1', 'michaelstepner.com');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        _paq.push(['setTrackerUrl',  'https://api.oasis.sandstorm.io']);
        _paq.push(['setSiteId', 1]);
        _paq.push(['setApiToken', 'shH96abt2TbFl5g_vF7kwwdvhD16UlnnATRWt3OKRXm']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://rj3b7exa1k19q7g1djoe.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

  </body>
</html>
